<div id="hero-show-contents">
	<img id="hero-icon" src="<%=hero.escape('filepicker_url_icon')%>">
	<h3><%=hero.escape('name')%></h3>
	<h4>Bio</h4>
	<p><%=hero.escape('bio')%></p>
	<h4>Sightings</h4>

	<div class='heroSightingbox'>
	<% sightings && sightings.each(function(sighting){ %>
		<div class='heroSightingItem'>
			<p>Time of sightings <br> <%= sighting.get('time') %> </p>
			<p>Description <br> <%= sighting.get('description') %></p>
		</div>
	<% }) %>
	</div>

<a class="close-hero-show" href='#'>Close Form</a>
</div>