
	<form class="addSighting" role="form">
		<div class="errors" id="errors"></div>

		<div class="form-group">
			<label for="heroId">Hero Name:</label><br>
			<select name="heroId">
				<% heroes.each(function(hero){ %>
					<option value="<%=hero.id%>"><%=hero.escape("name")%></option>
				<% }) %>
			</select>
		</div>

	<div class="form-group">
		<label for="time">Date and Time:</label><br>
		<input type="datetime-local" name="time" value='<%= sighting.escape('time') %>'>
		<br>
	</div>

	<div class="form-group">
		<label for="description">Description:</label><br>
		<textarea name='description' id='description' value='<%= sighting.escape('description') %>'><%= sighting.escape('description') %></textarea><br>
	</div>

	<div class="form-group">
		<label for="longitude">Longitude:</label><br>
		<input type='number' name='longitude' id='longitude' value='<%= sighting.escape('longitude') %>'><br>
	</div>

	<div class="form-group">
		<label for="latitude">Latitude:</label><br>
		<input type='number' name='latitude' id='latitude' value='<%= sighting.escape('latitude') %>'><br>
	</div>

	<!-- <label for="pac-input">Location:</label><br>
	<input id="pac-input" class="controls" type="text" placeholder="Search Box"> -->

	<button id="createSighting">Submit</button>

	<a class="back-link" href='#'>Close Form</a>
	</form>